* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', sans-serif;
    background-color: #0a0a0a;
    color:#D9D9D9;
    overflow-x: hidden;
}

.hero {
  
    height: 100vh;
    width: 100%;
    background-image: url(./assets/img/12.\ Skill\ set\ Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.lang-switch {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #3DCFB6;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}



.nav-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
}

.logo {
    font-weight: bold;
    text-align: right;
    line-height: 1;
}

#logo-icon {
  height: 50px;
}

#logo-icon:hover {
    content: url("./assets/img/logoHover.png");
}

.github-icon:hover {
    content: url("./assets/img/GithubHover.png");
}

.linkedin-icon:hover {
    content: url("./assets/img/LinkendinHover.png");
}

.hero-content {
    text-align: center;
}

.subtitle {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Karla', sans-serif;
}

.cta-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 12px 30px;
    font-family: 'Karla', sans-serif;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 1px solid rgba(255,255,255,0.4);
    transition: 0.3s;
    height: 50px;
}

.btn-marquee {
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    color: white;
    transition: 0.3s ease;
}

.btn-marquee span {
    display: inline-block;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.btn-marquee:hover {
    border: 1px solid #3DCFB6;
    color: #3DCFB6;
}

.btn-marquee:hover span {
    animation: marqueeText 2s linear infinite;
}

@keyframes marqueeText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.sidebar-right {
    position: absolute;
    right: 40px;
    bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.email {
    writing-mode: vertical-rl;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.social-vector {
  width: 1px;
  height: 186px;
}

.scroll-down {
    position: absolute;
    left: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin-bottom: 24px;
    height: 48px;
    width: 30px;
}

.line {
    width: 1px;
    height: 240px;
}

.marquee {
    position: absolute;
    bottom: 50px;
    width: 100%;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5.300000190734863px);
    padding: 15px 0;
    overflow: hidden;
    transform: rotate(-3deg); 
}

.marquee-content {
    display: flex;
    font-family: 'Karla', sans-serif;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    font-size: 32px;
    font-weight: 400;
    color: #3DCFB6;
}

.marquee-content span {
    padding: 0 20px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
