:root {
  /* Colors */
  --color-primary: #3dcfb6;
  --color-bg: #1c1c1c;
  --color-text: #d9d9d9;
  --color-white: #ffffff;
  --color-purple-border: #8a2be2;
  --font-primary: "Fira Code", sans-serif;
  --font-secondary: "Karla", sans-serif;
  --icon-radio-unchecked: url("../img/radio_button_unchecked.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
}
