@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}