#footer {
  width: 100%;
  background-color: var(--color-bg);
  margin-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 30px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-logo {
  height: 48px;
  width: auto;
  object-fit: contain;
}

.footer-logo:hover {
  content: url("../img/logoHover.png");
}

.footer-span {
  font-size: 16px;
  font-family: var(--font-secondary);
}

.footer-center {
  display: flex;
  justify-content: center;
}

.copyright-text {
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--color-white);
  margin: 0;
  white-space: nowrap;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: column;
}

.footer-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.footer-icon:hover img {
  transform: scale(1.2);
}

.legal-link {
  position: relative;
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
  margin-left: 0;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.legal-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 8px;
  height: 8px;
  background-image: url("../img/radio_button_unchecked.png");
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: all 0.3s ease;
}

.legal-link:hover {
  color: var(--color-primary);
}

.legal-link:hover::before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  left: -15px;
}

.copyright-text2 {
  display: none;
  color: var(--color-primary);
}