@media (max-width: 1240px) {
  h1 {
    font-size: 80px;
  }

  .sidebar-right {
    right: 50px;
  }
}

@media (max-width: 1183px) {
  .icons-grid {
    grid-template-columns: repeat(3, 90px);
  }

  .skills-glass-card {
    min-height: 580px;
  }

  h2 {
    font-size: 56px;
  }

  .projects-section {
    padding-top: 100px;
  }

  .project-image-preview {
    right: -310px;
  }

  .email {
    display: none;
  }

  .social-email {
    display: block !important;
  }

  .email-icon:hover {
    content: url("../img/mailHover.png");
  }

  .sidebar-right {
    gap: 7px;
  }
}

@media (max-width: 500px) {
  .mobile-menu-content {
    width: 59%;
    padding: 21px 20px;
    height: 240px;
  }

  .navbar {
    padding: 20px 39px;
  }

  .subtitle {
    font-size: 20px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  .btn {
    font-size: 16px;
    padding: 12px 15px;
  }

  .sidebar-right {
    right: 16px;
  }

  .scroll-down {
    left: 5px;
  }

  .icons-grid {
    grid-template-columns: repeat(3, 70px);
  }

  .privacy-error-msg {
    top: 70px;
  }

  .footer-logo {
    height: 36px;
  }

  .cta-buttons {
    gap: 7px;
  }

  .side-card {
    height: 565px;
  }

  .review-card {
    max-width: 301px;
  }

  .quote-icon {
    width: 70px;
  }

  .review-card {
    padding: 20px;
  }

  .toggle-bg {
    height: 29px;
  }

  .review-text {
    padding-top: 20px;
  }

  .review-card {
    max-width: 290px;
  }

  .active-card {
    height: 565px;
  }

  .legal-section h1 {
    font-size: 40px;
  }

  .legal-section {
    padding: 80px 10px;
  }
}

@media (max-width: 380px) {
  .icons-grid {
    grid-template-columns: repeat(3, 60px);
  }

  .line {
    height: 110px;
  }

  .social-vector {
    height: 110px;
  }

  .btn {
    padding: 12px 8px;
  }

  .social-icons a {
    width: 25px;
    height: 25px;
  }

  .social-icons {
    gap: 8px;
  }

  .review-card {
    max-width: 262px;
  }

  .email-icon {
    width: 23px;
  }

  .github-icon {
    width: 23px;
  }

  .linkedin-icon {
    width: 23px;
  }
}
